/JGSReferenceBO/nbproject/
/core/JGSReferenceBO/nbproject/
/core/JGSReferenceBO/target/
/core/fw-jgs-business/target/
/msa-security/msa-jgs-security-core/target/
/msa-security/msa-jgssecurity-client/target/
/core/fw-jgs-security/target/
